#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    
    <p:ajaxStatus onstart="PF('loadingGif').show();"
                  oncomplete="PF('loadingGif').hide();"/>

    <p:dialog modal="true" widgetVar="loadingGif" closable="false" styleClass="fixed"
              appendTo="@(body)" width="230" resizable="false" showHeader="false">
        <h:panelGrid columns="2">
            <h:graphicImage value="/images/ajax-loader.gif"/>
            <h:outputText style="font-size: 14px; font-weight: bold;" value="Carregando..." />
        </h:panelGrid>
    </p:dialog>

</ui:composition>
