#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui">

    <!-- METAS AND TITLE -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title>${artifactId}<h:outputText rendered="${symbol_pound}{not empty title}" value=" - ${symbol_pound}{title}"/></title>
    <!-- END METAS AND TITLE -->

    <!-- CSS -->
    <link rel="stylesheet" media="screen" href="${symbol_pound}{request.contextPath}/css/normalize.css"/>
    <link rel="stylesheet" media="screen" href="${symbol_pound}{request.contextPath}/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" href="${symbol_pound}{request.contextPath}/css/default.css"/>
    <script src="${symbol_pound}{request.contextPath}/js/bootstrap.min.js"></script>
    <o:conditionalComment if="lt IE 9">
        <script src="${symbol_pound}{request.contextPath}/js/html5.js"></script>
        <script src="${symbol_pound}{request.contextPath}/js/respond.min.js"></script>
    </o:conditionalComment> 
    <script src="${symbol_pound}{request.contextPath}/js/calendar.js"></script>
    <script src="${symbol_pound}{request.contextPath}/js/scripts.js"></script>
    <h:outputStylesheet library="xpert" name="css/style.css" />
    <!-- END CSS -->            

    <!-- FAVICON -->        
    <o:conditionalComment if="IE">
        <link rel="shortcut icon" href="${symbol_pound}{request.contextPath}/images/favicon.ico"/>
    </o:conditionalComment>
    <!-- END FAVICON -->        
    <link rel="icon" href="${symbol_pound}{request.contextPath}/images/favicon.ico" />    

</ui:composition>
