#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:x="http://xpert.com/faces"
                 xmlns:custom="http://java.sun.com/jsf/composite/components"
                 >
    <h:form id="formAtivarPermissao">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h:outputLabel value="${symbol_pound}{msg['permissao.descricao']}:" styleClass="control-label"/><br/>
                <span class="uix-content-detail">
                    <h:outputText value="${symbol_pound}{permissaoMB.entity.descricao}"/>
                </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h:outputLabel value="${symbol_pound}{msg['permissao.key']}:" styleClass="control-label"/><br/>
                <span class="uix-content-detail">
                    <h:outputText value="${symbol_pound}{permissaoMB.entity.key}"/>
                </span>
            </div>
        </div>
        <p:separator/>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <div class="checkbox">
                    <label>
                        <h:selectBooleanCheckbox value="${symbol_pound}{permissaoMB.emCascata}" />
                        ${symbol_pound}{msg['permissao.ativarPermissaoEmCascata']}
                    </label>
                </div>
                <h:outputText value="${symbol_pound}{msg['permissao.ativarPermissaoEmCascataInfo']}" styleClass="help-block"/>
            </div>
        </div>
        <div>
            <h:outputText value="${symbol_pound}{msg['permissao.confirmaAtivacao']}"/>
            <br/>
            <br/>
            <x:securityArea rolesAllowed="permissao.create">
                <p:commandButton process="@form" update="@form :formListPermissao" action="${symbol_pound}{permissaoMB.ativar}"
                                 oncomplete="PF('widgetPermissaoAtivacao').hide();" value="${symbol_pound}{xmsg['yes']}" />
            </x:securityArea>
            <p:commandButton type="button" onclick="PF('widgetPermissaoAtivacao').hide();" value="${symbol_pound}{xmsg['no']}" />
        </div>
    </h:form>
</ui:composition>