#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:x="http://xpert.com/faces"
                 xmlns:custom="http://java.sun.com/jsf/composite/components"
                 >
    <h:form id="formCreatePermissao">
        <x:modalMessages/>
        <p:fieldset legend="${symbol_pound}{msg['dadosGerais']}">
            <div class="container-fluid">
                <div class="row">

                    <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <h:outputLabel value="* ${symbol_pound}{msg['permissao.descricao']}:" />
                        <p:inputText value="${symbol_pound}{permissaoMB.entity.descricao}" maxlength="255" styleClass="form-control"  />
                    </div>
                    <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <h:outputLabel value="* ${symbol_pound}{msg['permissao.key']}:" />
                        <p:inputText value="${symbol_pound}{permissaoMB.entity.key}" maxlength="255"  styleClass="form-control"/>
                    </div>
                    <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <h:outputLabel value="${symbol_pound}{msg['permissao.permissaoPai']}:" />

                        <h:panelGroup layout="block" id="panelPermissaoPai" styleClass="form-control">
                            <h:panelGroup id="conteudoPanelPermissaoPai" >
                                <h:outputText value="${symbol_pound}{permissaoMB.entity.permissaoPai.descricao} - ${symbol_pound}{permissaoMB.entity.permissaoPai.key}" >
                                    <x:initializer/>
                                </h:outputText>
                                <p:commandButton type="button" icon="ui-icon-carat-1-s" 
                                                 id="buttonPermissaoPai" styleClass="pull-right"
                                                 style="font-size: 10px;"/>
                            </h:panelGroup>
                        </h:panelGroup>

                        <p:overlayPanel for="panelPermissaoPai" styleClass="w-100p" widgetVar="overlayPermissaoPai" >
                            <p:tree value="${symbol_pound}{perfilMB.permissoes}" var="permissao" styleClass="w-100p"
                                    selectionMode="single"  style="max-height: 400px; overflow-y: scroll" >
                                <p:ajax event="select" update=":formCreatePermissao:conteudoPanelPermissaoPai @this"
                                        listener="${symbol_pound}{permissaoMB.entity.setPermissaoPai(permissao)}" oncomplete="PF('overlayPermissaoPai').hide()" />
                                <p:treeNode collapsedIcon="ui-icon-folder-collapsed" >
                                    <h:panelGroup styleClass="${symbol_pound}{permissao == permissaoMB.entity.permissaoPai ? 'ui-state-highlight' : ''}">
                                        <h:outputText value="${symbol_pound}{permissao.descricao}" style="font-weight: bold"/>  
                                        <h:outputText value=" (${symbol_pound}{permissao.key})" styleClass="font-11"  /> 
                                    </h:panelGroup>
                                </p:treeNode>
                            </p:tree>
                        </p:overlayPanel>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <h:outputLabel value="${symbol_pound}{msg['permissao.url']}:" />
                        <p:inputTextarea value="${symbol_pound}{permissaoMB.entity.url}"  rows="3" styleClass="form-control" />
                    </div>
                </div>
                <div class="row">


                    <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-12">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="${symbol_pound}{permissaoMB.entity.global}" />
                                ${symbol_pound}{msg['permissao.global']}
                            </label>
                        </div>
                        <h:outputText value="${symbol_pound}{msg['permissao.globalInfo']}" styleClass="help-block"/>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-12">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="${symbol_pound}{permissaoMB.entity.ativo}" />
                                ${symbol_pound}{msg['permissao.ativo']}
                            </label>
                        </div>
                        <h:outputText value="${symbol_pound}{msg['permissao.ativoInfo']}" styleClass="help-block"/>
                    </div>
                </div>
            </div>
        </p:fieldset>
        <p:fieldset legend="${symbol_pound}{msg['permissao.dadosMenu']}">
            <div class="container-fluid">
                <div class="row">

                    <div class="form-group col-lg-12 col-md-12 col-sm-6 col-xs-12">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="${symbol_pound}{permissaoMB.entity.possuiMenu}" />
                                ${symbol_pound}{msg['permissao.possuiMenu']}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <h:outputLabel value="${symbol_pound}{msg['permissao.nomeMenu']}:" />
                        <p:inputText value="${symbol_pound}{permissaoMB.entity.nomeMenu}" styleClass="form-control" maxlength="255" />
                        <h:outputText value="${symbol_pound}{msg['permissao.nomeMenuInfo']}" styleClass="help-block"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h:outputLabel value="${symbol_pound}{msg['permissao.urlMenu']}:" />
                        <p:inputText value="${symbol_pound}{permissaoMB.entity.urlMenu}" styleClass="form-control"  />
                        <h:outputText value="${symbol_pound}{msg['permissao.urlMenuInfo']}" styleClass="help-block"/>
                    </div>

                </div>
            </div>
        </p:fieldset>


        <h:outputText value="${symbol_pound}{xmsg['requiredFieldsForm']}"/>
        <div class="uix-center">
            <x:securityArea rolesAllowed="permissao.create">
                <p:commandButton process="@form" update="@form" action="${symbol_pound}{permissaoMB.save}" value="${symbol_pound}{xmsg['save']}" />
            </x:securityArea>
            <x:securityArea rolesAllowed="permissao.audit">
                <x:audit for="${symbol_pound}{permissaoMB.entity}"/>
            </x:securityArea>
        </div>
    </h:form>

</ui:composition>