#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="/template/loginTemplate.xhtml"
                 xmlns:x="http://xpert.com/faces"
                 >

    <ui:param name="title" value="Login" />
    <ui:define name="menu"/>  
    <ui:define name="header"/>  
    <ui:define name="body">  


        <h:form>
            <x:modalMessages autoUpdate="true"/> 

            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <h:outputLabel value="${symbol_pound}{msg['usuario.userLogin']}:"/>
                        <p:inputText id="user" value="${symbol_pound}{loginMB.userLogin}" required="true" requiredMessage="${symbol_pound}{msg['required.usuario']}" styleClass="form-control"  />

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h:outputLabel value="${symbol_pound}{msg['usuario.userPassword']}:"/>
                        <p:password id="password" feedback="false" autocomplete="false" value="${symbol_pound}{loginMB.userPassword}" required="true" maxlength="20" requiredMessage="${symbol_pound}{msg['required.password']}" styleClass="form-control"/>
                    </div>
                </div>

                <p:commandButton value="${symbol_pound}{msg['entrar']}" action="${symbol_pound}{loginMB.login}" process="@form" update="@form" styleClass="col-lg-12  col-md-12 col-sm-12 col-xs-12 " />   
                <br/>
                <br/>
                <div class="text-right">
                    <h:link outcome="/esqueciSenha.jsf" value="${symbol_pound}{msg['solicitacaoRecuperacaoSenha.esqueciMinhaSenha']}"/>
                </div>
                <p:focus/>
            </div>


        </h:form>                   
    </ui:define>
</ui:composition>
