#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="/template/mainTemplate.xhtml"
                 xmlns:x="http://xpert.com/faces"
                 >

    <ui:param name="title" value="Maker" />
    <ui:define name="body">
        <p:tabView rendered="${symbol_pound}{sessaoUsuarioMB.user.superUsuario}">
            <p:tab title="Maker">

                <x:maker managedBean="${package}.mb"   
                          businessObject="${package}.bo"   
                          dao="${package}.dao"   
                          daoImpl="${package}.dao.impl"   
                          baseDAO="${package}.application.BaseDAOImpl"   
                          viewPath="/view"
                          resourceBundle="msg"   
                          template="/template/mainTemplate.xhtml"/>  

            </p:tab>
            <p:tab title="Geração de Dados">
                <h:form>
                    <p:messages/>
                    <p:commandButton action="${symbol_pound}{geracaoDadosMB.gerarDados}" value="Gerar Dados" update="@form" process="@this"/>
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>
