#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:x="http://xpert.com/faces"
                 xmlns:custom="http://java.sun.com/jsf/composite/components"
                 >
    <h:form id="formDetailErroSistema">


        <p:accordionPanel multiple="true" activeIndex="0,1">
            <p:tab title="${symbol_pound}{msg['dadosGerais']}">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['erroSistema.data']}:" styleClass="control-label" /><br/>
                            <h:outputText value="${symbol_pound}{erroSistemaMB.entity.data}" styleClass="uix-content-detail">
                                <f:convertDateTime pattern="${symbol_pound}{formatMB.format.dataHoraMinutoSegundo}" />
                            </h:outputText>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['erroSistema.usuario']}:" styleClass="control-label" /><br/>
                            <h:outputText value="${symbol_pound}{erroSistemaMB.entity.usuario.nome}" styleClass="uix-content-detail"/>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

                            <h:outputLabel value="${symbol_pound}{msg['erroSistema.funcionalidade']}:" styleClass="control-label" /><br/>
                            <h:outputText value="${symbol_pound}{erroSistemaMB.entity.funcionalidade}" styleClass="uix-content-detail"/>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['erroSistema.url']}:" styleClass="control-label" /><br/>
                            <h:outputText value="${symbol_pound}{erroSistemaMB.entity.url}"/>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['erroSistema.informacaoNavegador']}:" styleClass="control-label" /><br/>
                            <h:outputText value="${symbol_pound}{erroSistemaMB.entity.informacaoNavegador}" styleClass="uix-content-detail"/>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <p:commandButton type="button" value="${symbol_pound}{xmsg['close']}" onclick="PF('widgetErroSistemaDetail').hide()" />
                </div>
            </p:tab>
            <p:tab title="${symbol_pound}{msg['erroSistema.pilhaErro']}">
                <h:outputText value="${symbol_pound}{erroSistemaMB.entity.pilhaErroFormatada}" escape="false"/>
            </p:tab>
        </p:accordionPanel>

    </h:form>
</ui:composition>