#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:x="http://xpert.com/faces"
                 xmlns:custom="http://java.sun.com/jsf/composite/components"
                 >
    <h:form id="formDetailAcessoSistema">

        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <h:outputLabel value="${symbol_pound}{msg['acessoSistema.dataHora']}:" styleClass="control-label"/><br/>
                    <span class="uix-content-detail">
                        <h:outputText value="${symbol_pound}{acessoSistemaMB.entity.dataHora}">
                            <f:convertDateTime pattern="${symbol_pound}{formatMB.format.dataHoraMinutoSegundo}"/>
                        </h:outputText>
                    </span>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

                    <h:outputLabel value="${symbol_pound}{msg['acessoSistema.ip']}:" styleClass="control-label"/><br/>
                    <span class="uix-content-detail">
                        <h:outputText value="${symbol_pound}{acessoSistemaMB.entity.ip}"/>
                    </span>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

                    <h:outputLabel value="${symbol_pound}{msg['acessoSistema.usuario']}:" styleClass="control-label"/><br/>
                    <span class="uix-content-detail">
                        <h:outputText value="${symbol_pound}{acessoSistemaMB.entity.usuario}"/>
                    </span>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <h:outputLabel value="${symbol_pound}{msg['acessoSistema.userAgent']}:" styleClass="control-label"/><br/>
                    <span class="uix-content-detail">
                        <h:outputText value="${symbol_pound}{acessoSistemaMB.entity.userAgent}"/>
                    </span>
                </div>

            </div>
        </div>
        <p:separator/>
        <div style="text-align: center;">
            <p:commandButton type="button" value="${symbol_pound}{xmsg['close']}" onclick="PF('widgetAcessoSistemaDetail').hide()" />
        </div>
    </h:form>
</ui:composition>