#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="/template/mainTemplate.xhtml"
                 xmlns:x="http://xpert.com/faces"
                 >
   <ui:param name="title" value="${symbol_pound}{msg['usuario.create']}" />
   <ui:define name="body">
       <ui:include src="menuUsuario.xhtml" />
       <ui:include src="formCreateUsuario.xhtml" />
   </ui:define>
</ui:composition>