#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:x="http://xpert.com/faces"
                 xmlns:custom="http://java.sun.com/jsf/composite/components"
                 >
    <h:form id="formDetailUsuario" styleClass="uix-form-detail">

        <p:tabView id="tabViewUsuario">
            <p:tab title="${symbol_pound}{msg['dadosGerais']}">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['usuario.nome']}:" styleClass="control-label" /><br/>
                            <span class="uix-content-detail">
                                <h:outputText value="${symbol_pound}{usuarioMB.entity.nome}"/>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['usuario.cpf']}:" styleClass="control-label" /><br/>
                            <span class="uix-content-detail">
                                <h:outputText converter="cpfConverter" value="${symbol_pound}{usuarioMB.entity.cpf}"/>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['usuario.email']}:" styleClass="control-label" /><br/>
                            <span class="uix-content-detail">
                                <h:outputText value="${symbol_pound}{usuarioMB.entity.email}"/>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['usuario.userLogin']}:" styleClass="control-label" /><br/>
                            <span class="uix-content-detail">
                                <h:outputText value="${symbol_pound}{usuarioMB.entity.userLogin}"/>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['usuario.situacaoUsuario']}:" styleClass="control-label"/><br/>
                            <span class="uix-content-detail">
                                <h:outputText value="${symbol_pound}{usuarioMB.entity.situacaoUsuario.descricao}"/>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['usuario.emailCadastroEnviado']}:" styleClass="control-label"/><br/>
                            <span class="uix-content-detail">
                                <h:outputText value="${symbol_pound}{usuarioMB.entity.emailCadastroEnviado}" converter ="yesNoConverter" />
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <h:outputLabel value="${symbol_pound}{msg['usuario.senhaCadastrada']}:" styleClass="control-label"/><br/>
                            <span class="uix-content-detail">
                                <h:outputText value="${symbol_pound}{usuarioMB.entity.senhaCadastrada}" converter ="yesNoConverter" />
                            </span>
                        </div>
                        <h:panelGroup rendered="${symbol_pound}{sessaoUsuarioMB.user.superUsuario}" >
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <h:outputLabel value="${symbol_pound}{msg['usuario.superUsuario']}:" styleClass="control-label"/><br/>
                                <span class="uix-content-detail">
                                    <h:outputText value="${symbol_pound}{usuarioMB.entity.superUsuario}" converter ="yesNoConverter" />
                                </span>
                            </div>
                        </h:panelGroup>
                    </div>

                </div>
            </p:tab>
            <p:tab title="${symbol_pound}{msg['usuario.perfisAcesso']}">
                <p:dataTable rowIndexVar="index" var="perfil" value="${symbol_pound}{usuarioMB.entity.perfis}"
                             emptyMessage="${symbol_pound}{xmsg['noRecordFound']}">
                    <x:initializer/>
                    <p:column styleClass="uix-datatable-index">
                        <h:outputText value="${symbol_pound}{index+1}"/>
                    </p:column>
                    <p:column headerText="${symbol_pound}{msg['perfil.descricao']}">
                        <h:outputText value="${symbol_pound}{perfil.descricao}"/>
                    </p:column>
                    <p:column styleClass="uix-datatable-actions" exportable="false">
                        <p:commandButton oncomplete="PF('widgetPerfilDetail').show();"  
                                         action="${symbol_pound}{perfilMB.detail}"
                                         icon="ui-icon-zoomin" process="@form" update=":formDetailPerfil" >
                            <f:setPropertyActionListener value="${symbol_pound}{perfil}" target="${symbol_pound}{perfilMB.entity}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:tab>
            <p:tab title="${symbol_pound}{msg['usuario.historicosSituacao']}">

                <p:dataTable value="${symbol_pound}{usuarioMB.entity.historicosSituacao}" var="historicoSituacao"
                             emptyMessage="${symbol_pound}{xmsg['noRecordFound']}" rowIndexVar="index">
                    <x:initializer/>
                    <p:column styleClass="uix-datatable-index">
                        <h:outputText value="${symbol_pound}{index+1}"/>
                    </p:column>
                    <p:column headerText="${symbol_pound}{msg['historicoSituacaoUsuario.dataSituacao']}" style="text-align: center;">
                        <h:outputText value="${symbol_pound}{historicoSituacao.dataSituacao}">
                            <f:convertDateTime pattern="${symbol_pound}{formatMB.format.dataHoraMinutoSegundo}"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="${symbol_pound}{msg['historicoSituacaoUsuario.situacaoUsuario']}" style="text-align: center;">
                        <h:outputText value="${symbol_pound}{historicoSituacao.situacaoUsuario.descricao}"/>
                    </p:column>
                    <p:column headerText="${symbol_pound}{msg['historicoSituacaoUsuario.usuarioAlteracao']}">
                        <h:outputText value="${symbol_pound}{historicoSituacao.usuarioAlteracao.nome}">
                            <x:initializer/>
                        </h:outputText>
                    </p:column>
                </p:dataTable>

            </p:tab>

            <p:tab title="${symbol_pound}{msg['usuario.menuUsuario']}">

                <div style="min-height: 400px; overflow-y: scroll;">

                    <h:outputText value="${symbol_pound}{msg['usuario.menuUsuarioInfo']}"  styleClass="help-block"/>
                    <div class="hidden-xs">
                        <p:menubar model="${symbol_pound}{usuarioMB.menuModel}" />
                    </div>
                    <div class="hidden-lg hidden-sm hidden-md">
                        <p:panelMenu  style="width: 100%" model="${symbol_pound}{usuarioMB.menuModel}"/>
                    </div>
                </div>

            </p:tab>

            <p:tab title="${symbol_pound}{msg['ultimosAcessos']}">

                <x:dataTableActions target=":formDetailUsuario:tabViewUsuario:dataTableAcessoSistema" 
                                    widgetVar="dataTableAcessoSistemaWidget" fileName="Acessos - ${symbol_pound}{usuarioMB.entity.nome}" />

                <p:dataTable paginator="true" rows="10" rowsPerPageTemplate="10,20,30" paginatorPosition="bottom" emptyMessage="${symbol_pound}{xmsg['noRecordFound']}"
                             var="acessoSistema" rowIndexVar="index" id="dataTableAcessoSistema"
                             widgetVar="dataTableAcessoSistemaWidget"
                             currentPageReportTemplate="${symbol_pound}{usuarioMB.ultimosAcessos.currentPageReportTemplate}"
                             paginatorTemplate="${symbol_pound}{usuarioMB.ultimosAcessos.paginatorTemplate}"
                             value="${symbol_pound}{usuarioMB.ultimosAcessos}" lazy="true" >
                    <p:column style="text-align: center;">
                        <h:outputText value="${symbol_pound}{index+1}"/>
                    </p:column>
                    <p:column headerText="${symbol_pound}{msg['acessoSistema.dataHora']}" sortBy="${symbol_pound}{acessoSistema.dataHora}"
                              style="text-align: center;" filterBy="${symbol_pound}{acessoSistema.dataHora}">
                        <f:facet name="header">
                            ${symbol_pound}{msg['acessoSistema.dataHora']}
                            <x:dateFilter/>
                        </f:facet>
                        <h:outputText value="${symbol_pound}{acessoSistema.dataHora}">
                            <f:convertDateTime pattern="${symbol_pound}{formatMB.format.dataHoraMinutoSegundo}"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="${symbol_pound}{msg['acessoSistema.ip']}" sortBy="${symbol_pound}{acessoSistema.ip}"
                              filterBy="${symbol_pound}{acessoSistema.ip}"
                              >
                        <f:facet name="header">
                            <h:outputText value="${symbol_pound}{msg['acessoSistema.ip']}"/>
                        </f:facet>
                        <h:outputText value="${symbol_pound}{acessoSistema.ip}"/>
                    </p:column>
                    <p:column headerText="${symbol_pound}{msg['acessoSistema.userAgent']}" sortBy="${symbol_pound}{acessoSistema.userAgent}"
                              filterBy="${symbol_pound}{acessoSistema.userAgent}"
                              >
                        <f:facet name="header">
                            <h:outputText value="${symbol_pound}{msg['acessoSistema.userAgent']}"/>
                        </f:facet>
                        <h:outputText value="${symbol_pound}{acessoSistema.userAgent}"/>
                    </p:column>
                </p:dataTable>
            </p:tab>

        </p:tabView>
        <div class="uix-center">
            <p:commandButton type="button" value="${symbol_pound}{xmsg['close']}" onclick="PF('widgetUsuarioDetail').hide()" />
            <x:securityArea rolesAllowed="usuario.audit">
                <x:audit for="${symbol_pound}{usuarioMB.entity}"/>
            </x:securityArea>
        </div>
    </h:form>
</ui:composition>