#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="/template/mainTemplate.xhtml"
                 xmlns:x="http://xpert.com/faces"
                 xmlns:custom="http://java.sun.com/jsf/composite/components"
                 >
    <ui:param name="title" value="${symbol_pound}{msg['usuario.list']}" />
    <ui:define name="body">
        <ui:include src="menuUsuario.xhtml" />
        <h:form id="formListUsuario">
            <x:modalMessages/>
            <x:dataTableActions target=":formListUsuario:dataTableUsuario" widgetVar="dataTableUsuarioWidget" fileName="usuario_export" />

            <p:dataTable paginator="true" rows="10" rowsPerPageTemplate="10,20,30" paginatorPosition="bottom" emptyMessage="${symbol_pound}{xmsg['noRecordFound']}"
                         var="usuario" rowIndexVar="index" styleClass="table-responsive" 
                         currentPageReportTemplate="${symbol_pound}{usuarioMB.dataModel.currentPageReportTemplate}"
                         id="dataTableUsuario" widgetVar="dataTableUsuarioWidget"
                         paginatorTemplate="${symbol_pound}{usuarioMB.dataModel.paginatorTemplate}"
                         value="${symbol_pound}{usuarioMB.dataModel}" lazy="true" >
                <p:column styleClass="uix-datatable-index">
                    <h:outputText value="${symbol_pound}{index+1}"/>
                </p:column>
                <p:column headerText="${symbol_pound}{msg['usuario.nome']}" sortBy="${symbol_pound}{usuario.nome}"
                          filterBy="${symbol_pound}{usuario.nome}"
                          >
                    <f:facet name="header">
                        <h:outputText value="${symbol_pound}{msg['usuario.nome']}"/>
                    </f:facet>
                    <h:outputText value="${symbol_pound}{usuario.nome}"/>
                </p:column>
                <p:column headerText="${symbol_pound}{msg['usuario.cpf']}" sortBy="${symbol_pound}{usuario.cpf}"
                          filterBy="${symbol_pound}{usuario.cpf}" styleClass="text-center"
                          >
                    <f:facet name="header">
                        <h:outputText value="${symbol_pound}{msg['usuario.cpf']}"/>
                    </f:facet>
                    <h:outputText converter="cpfConverter" value="${symbol_pound}{usuario.cpf}"/>
                </p:column>
                <p:column headerText="${symbol_pound}{msg['usuario.userLogin']}" sortBy="${symbol_pound}{usuario.userLogin}"
                          filterBy="${symbol_pound}{usuario.userLogin}"
                          >
                    <f:facet name="header">
                        <h:outputText value="${symbol_pound}{msg['usuario.userLogin']}"/>
                    </f:facet>
                    <h:outputText value="${symbol_pound}{usuario.userLogin}"/>
                </p:column>
                <p:column headerText="${symbol_pound}{msg['usuario.email']}" sortBy="${symbol_pound}{usuario.email}"
                          filterBy="${symbol_pound}{usuario.email}"
                          >
                    <f:facet name="header">
                        <h:outputText value="${symbol_pound}{msg['usuario.email']}"/>
                    </f:facet>
                    <h:outputText value="${symbol_pound}{usuario.email}"/>
                </p:column>
                <p:column headerText="${symbol_pound}{msg['usuario.situacaoUsuario']}" sortBy="${symbol_pound}{usuario.situacaoUsuario}"
                          filterBy="${symbol_pound}{usuario.situacaoUsuario}"
                          filterOptions="${symbol_pound}{findAllBean.getSelect(classMB.situacaoUsuario)}"
                          styleClass="text-center">
                    <f:facet name="header">
                        <h:outputText value="${symbol_pound}{msg['usuario.situacaoUsuario']}"/>
                    </f:facet>
                    <h:outputText value="${symbol_pound}{usuario.situacaoUsuario.descricao}" />
                </p:column>
                <p:column headerText="${symbol_pound}{msg['usuario.superUsuario']}" sortBy="${symbol_pound}{usuario.superUsuario}"
                          filterBy="${symbol_pound}{usuario.superUsuario}" rendered="${symbol_pound}{sessaoUsuarioMB.user.superUsuario}"
                          filterOptions="${symbol_pound}{booleanSelectItensEmptyOption}"
                          styleClass="text-center">
                    <f:facet name="header">
                        <h:outputText value="${symbol_pound}{msg['usuario.superUsuario']}"/>
                    </f:facet>
                    <h:outputText value="${symbol_pound}{usuario.superUsuario}" converter ="yesNoConverter" />
                </p:column>
                <p:column styleClass="uix-datatable-actions" exportable="false">
                    <f:facet name="header">
                        <h:outputText value="${symbol_pound}{xmsg['actions']}"/>
                    </f:facet>
                    <p:commandButton oncomplete="PF('widgetUsuarioDetail').show();"  icon="ui-icon-zoomin"
                                     action="${symbol_pound}{usuarioMB.detail}" process="@form" update=":formDetailUsuario" >
                        <f:setPropertyActionListener value="${symbol_pound}{usuario}" target="${symbol_pound}{usuarioMB.entity}" />
                    </p:commandButton>
                    <x:securityArea rolesAllowed="usuario.create">
                        <p:button icon="ui-icon-pencil" outcome="createUsuario" >
                            <f:param name="id" value="${symbol_pound}{usuario.id}" />
                        </p:button>
                    </x:securityArea>
                    <x:securityArea rolesAllowed="usuario.delete">
                        <p:commandButton icon="ui-icon-trash" process="@form" update="@form" action="${symbol_pound}{usuarioMB.delete}" >
                            <f:setPropertyActionListener value="${symbol_pound}{usuario.id}" target="${symbol_pound}{usuarioMB.id}" />
                            <x:confirmation message="${symbol_pound}{xmsg['confirmDelete']} - ${symbol_pound}{usuario}" />
                        </p:commandButton>
                    </x:securityArea>
                </p:column>
            </p:dataTable>
            <div class="uix-audit-delete">
                <x:securityArea rolesAllowed="usuario.audit">
                    <x:auditDelete for="${symbol_pound}{classMB.usuario}"/>
                </x:securityArea>
            </div>
        </h:form>

        <p:dialog widgetVar="widgetUsuarioDetail" header="${symbol_pound}{msg['usuario.detail']}" appendTo="@(body)" modal="true" styleClass="uix-dialog-fluid">
            <ui:include src="detailUsuario.xhtml" />
        </p:dialog>

        <p:dialog widgetVar="widgetPerfilDetail" header="${symbol_pound}{msg['perfil.detail']}" appendTo="@(body)" modal="true" styleClass="uix-dialog-fluid">
            <ui:include src="/view/controleAcesso/perfil/detailPerfil.xhtml" />
        </p:dialog>

    </ui:define>
</ui:composition>