#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:x="http://xpert.com/faces"
                 >
    <p:toolbar>
        <p:toolbarGroup align="left">  
            <x:securityArea rolesAllowed="modeloEmail.list">
                <p:button icon="ui-icon-search" value="${symbol_pound}{xmsg['list']}" outcome="listModeloEmail" />
            </x:securityArea>
            <x:securityArea rolesAllowed="modeloEmail.create">
                <p:button icon="ui-icon-plus" value="${symbol_pound}{xmsg['create']}" outcome="createModeloEmail" />
            </x:securityArea>
        </p:toolbarGroup>
    </p:toolbar>
</ui:composition>